@tailwind base;
@tailwind components;
@tailwind utilities;
::-webkit-scrollbar {
   display: none;
}
.header2  button{
    margin-left: 1300px;
    margin-top: -25px;
    background-color: purple;
}
 